# --- Java / Spring Boot ---
backend-java/target/
*.class
*.log
*.jar
*.war
*.ear
backend-java/src/main/resources/application.properties

# --- Secrets & env ---
.env
*.env
docker-compose.yml

# --- Node / React Frontend ---
frontend-react/node_modules/
frontend-react/.env
frontend-react/.env.*
frontend-react/build/
frontend-react/dist/

# --- IDE / System ---
*.DS_Store
.vscode/
.idea/
*.swp
*.swo

# --- Git Cleaning Tools ---
solartp.git.bfg-report/
solartp.git/